*.SchDocPreview
*.htm
*.PrjPcbStructure
*.hex

*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep         
*.LY
*.ayly7
*.uvoptx

*.iex
*.htm
*.sct
*.map